
h1 {
    color: rgb(0, 0, 88); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.dashlist {
    list-style: none;
    padding-left: 0;

}
.dashlist li::before {
  content: "- ";
}